; required by Nexus
email=kt.crain@gmail.com

; force auth to be used for GET requests
always-auth = true

@bit:registry=https://node.bit.cloud
//node.bitsrc.io/:_authToken=$BIT_TOKEN
//node.bit.cloud/:_authToken=$BIT_TOKEN
@tmsw:registry=https://node.bit.cloud
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=$NPM_TOKEN
